.blogSquare {
    position: relative;
    display: flex;
    margin-bottom: 50px;
    flex-direction: column;
    padding-bottom: 15px;
    border-bottom: 2px solid #121210;
  }
 
  a {
    color: #121210;
  }

  a:visited {
    color: #121210;
  }

  .blogSquare__title {
    font-weight: 200;
    margin: 0;
    font-size: 1.5em;
    color: #121210;
    font-weight: bold;
  }
  
  .blogSquare__date {
    margin: 5px 0px 15px;
    font-size: 0.8em;
    font-weight: bold;
  }
  
  .blogSquare__readMore {
    font-size: 0.8em;
    display: inline-block;
  }
  